.game-table {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  min-height: 420px;
  max-height: 900px;
  background: rgb(8,128,6);
  background: radial-gradient(circle, rgba(8,128,6,1) 0%, rgba(38,52,38,1) 100%);
  border: 15px solid #595856;
  border-radius: 230px;
  box-shadow: 0 0 15px black;
}

.cardForChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin: auto;
}


.flopcards {
  display: flex;
  align-items: center;
}

.communityCards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playerHands {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 75px;
  height: 140px;
  margin: 3px;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
}

.card.hover,
.card.hover-effect {
  opacity: 0.8;
}

.card-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  /* Adjust margin as needed */
}

.choiceCard {
  width: 50px;
  height: 75px;
  border-radius: 5px;
  background-color: #ddd;
  border: 1px solid #aaa;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
  /* Ensure images don't overflow the card */
}

.outs {
  width: 50px;
  height: 75px;
  border-radius: 5px;
  background-color: #ddd;
  border: 1px solid #aaa;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
  /* Ensure images don't overflow the card */
}

.choiceCard.hover,
.choiceCard.hover-effect {
  opacity: 0.5;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.playerHand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playerHandFull {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SingleCommunity {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.playerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
  /* Ensure images don't overflow the card */
}

.table {
  background-image: url('./Files/PokerTableBackground.jpg');
  border-radius: 60px;
}

.insertButton,
.deleteButton,
.randomizeButton {
  display: inline-block;
  border-radius: 50%;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-top: 5px;
}

.insertButton {
  background-color: #4CAF50;
}

.deleteButton {
  background-color: #ff0000;
}

.randomizeButton {
  background-color: #5e60c2f6;
}

.equity-text {
  text-align: left;
}

#popup {
  display: none;
  position: fixed;
  top: 30%;
  left: 67%;
  transform: translate(-30%, -50%);
  width: 850px;
  padding: 20px;
  background-color: #6b89acf8;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
